#iknow-dashsplash-dockwrap, img[src="/glob_images/app_icons/dashboard.png"], .brand.hidden-phone {
    display: none;
}

.P1_finder {
    .navbar--fixed-top {
        display: none;
    }
    
    .wrapper {
        top: 0;
    }
}