body.P1_dashboard, body {
    background: $offwhite;
}

.container-fluid {
    padding: 0;
}

.navbar--fixed-top, .wrapper {
    width: calc(100% - #{$offcanvas-width});
    right: 0;
    left: auto;
    position: absolute;
    
    @media screen and (max-width: $size-sm) {
        width: 100%;
        transition: all $speed ease;
    }
}

.offcanvas--active .navbar--fixed-top, .offcanvas--active .wrapper {
    left: $offcanvas-width;
}

.wrapper {
    margin-top: $top-nav-height;
    background: $offwhite;
    padding: ($global-padding*2);
    height: 100vh;
}

.colFullScreen {
    background: white;
    box-shadow: inset 0 0 0 1px darken($offwhite, 5%);
}

#mapContainer {
    margin: -2.5rem 0 0 -2rem;
}