$offblack:  #1e2126;
$offwhite:  darken(#f1f4f8, 6%);
$text:      #8ca4af;
$slate:     #a5b1c4;
$green:     #9ae14f;
$cadet:     #a5b1c4;
//$brand:     #006cc4;
$brand:     #2ECC71;
$brandGradient: linear-gradient(lighten($brand, 5%), $brand);
$red:       #e74c3c;