$top-nav-height: 53px;
$offcanvas-width: 250px;
$finance-options-width: 300px;
$global-padding: 1rem;
$border-radius: 3px;
$speed: 250ms;

$size-sm: 600px;
$size-md: 979px;

$views: (
    'sm': $size-sm,
    'md': $size-md,
);