.navbar--fixed-top {
    position: fixed;
    top: 0;
    z-index: 1030;
    
    .navbar-inner {
        background: $brand;
        box-shadow: none;
        padding: 0;
        border-radius: 0;
        border: none;
        
        .btn {
            background: white;
            color: $text;
            
            &:hover {
                background: transparent;
                color: white;
                border-color: white;
                
                .caret {
                    border-top-color: white;
                }
            }
        }
        
        @media screen and (max-width: $size-sm) {
            min-height: $top-nav-height;
        }
    }
    
    .nav {
        > li > a {
            color: white;
            text-shadow: none;
            padding: $global-padding ($global-padding*1.5);
    
            &:hover {
                background: darken($brand, 5%);
                color: white;
            }
        }
        
        li {
            border-right: 1px solid darken($brand, 5%);
        }
    }
    
    .btn-group.pull-right, .btn-group.pull-left {
        margin: 0;

        a, .btn, .controls {
            margin: $global-padding ($global-padding/1.5);
        }
    }
}

.navbar .hamburger {
    display: none;
    
    @media screen and (max-width: $size-md) {
        display: block;
    }
    
    @media screen and (max-width: $size-sm) {
        display: block;
        right: 5px;
        left: auto;
        position: fixed;
    }
    
}

@media screen and (max-width: $size-sm) {
    .nav-collapse {
        display: none !important;
    }
}

.offcanvas--active .navbar--fixed-top {
    position: fixed;
}